## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("vacation_search/weatherpy_vacations.csv")
vacation_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Springdale,US,68.49,scattered clouds,36.1867,-94.1288,Springdale Inn
1,30,Esperance,AU,62.44,light rain,-33.8667,121.9000,Hospitality Esperance
2,32,Innisfail,AU,67.32,broken clouds,-17.5333,146.0333,Moondarra Motel
3,49,San Juan,AR,68.72,overcast clouds,-31.5375,-68.5364,Hotel Provincial
4,51,Yeppoon,AU,60.58,overcast clouds,-23.1333,150.7333,Villa Mar Colina
...,...,...,...,...,...,...,...,...
112,684,Chiredzi,ZW,61.05,clear sky,-21.0500,31.6667,The Nesbitt Arms
113,696,Isfana,KG,68.56,clear sky,39.8386,69.5306,Sayakat
114,698,Miyako,JP,60.89,broken clouds,39.6367,141.9525,Hotel Route Inn Miyako
115,707,Smithers,CA,61.12,broken clouds,54.7804,-127.1743,"Prestige Hudson Bay Lodge, Premier Collection"
116,708,Fastovetskaya,RU,60.33,light rain,45.9189,40.1589,Bars Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Naron"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Naron"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Muros"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Arroyo"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bermeo"]

vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
36,288,Naron,ES,60.6,overcast clouds,43.5167,-8.1528,Marcial

In [6]:
# 6. Get the latitude-longitude pairs as tuples fom each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy(dtype=float)
start_lt_lg = (start[0][0], start[0][1])

end = vacation_end[["Lat","Lng"]].to_numpy(dtype=float)
end_lt_lg = (end[0][0], end[0][1])

stop1 = vacation_stop1[["Lat","Lng"]].to_numpy(dtype=float)
stop_lt_lg1 = (stop1[0][0], stop1[0][1])

stop2 = vacation_stop2[["Lat","Lng"]].to_numpy(dtype=float)
stop_lt_lg2 = stop2[0][0], stop2[0][1]

stop3 = vacation_stop3[["Lat","Lng"]].to_numpy(dtype=float)
stop_lt_lg3 = stop3[0][0], stop3[0][1]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start_lt_lg, end_lt_lg, waypoints= [stop_lt_lg1,stop_lt_lg2, stop_lt_lg3], travel_mode = "DRIVING")
fig.add_layer(itinerary)


fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,288,Naron,ES,60.60,overcast clouds,43.5167,-8.1528,Marcial
1,56,Muros,ES,63.68,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
2,538,Arroyo,ES,63.14,clear sky,41.6096,-4.7969,Hotel El Jardín de la Abadía
3,527,Bermeo,ES,63.41,overcast clouds,43.4209,-2.7215,Eco-Hotel Mundaka

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
fig = gmaps.figure()

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 11b. Display the ffig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))